<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="content" remove="tag">
    <div class="row">
        <div class="col border m-3 p-2">
            <div><label>Main image: [[${product.mainImage}]]</label></div>
            <div class="m-2">
                <img alt="Image preview" th:src="@{${product.mainImagePath}}" class="img-fluid">
            </div>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2">
                <div>
                    <label>Extra image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                </div>
                <div class="m-2">
                    <img th:alt="'Extra image #' + ${status.index + 1} + ' preview'"
                         th:src="@{${productImage.imagePath}}" class="img-fluid">
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>