<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Reset Password', 'none')"/>

<body>
<div class="container-fluid text-center">
    <div th:replace="navigation :: header_menu"></div>
    <div>
        <h1>Reset Password</h1>
    </div>
    <div class="mb-3">
        <form th:action="@{/reset_password}" method="post" style="max-width: 450px; margin: 0 auto">
            <input type="hidden" th:value="${token}" name="token">
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-success">[[${message}]]</p>
            </div>
            <div class="border border-secondary rounded p-3">
                <div>
                    <input type="password" name="password" id="password" placeholder="Enter your new password" minlength="8" maxlength="15"
                           class="form-control" required="required" autofocus="autofocus"/>
                </div>
                <div class="mt-2">
                    <input type="password" placeholder="Confirm your new password" minlength="8" maxlength="15"
                           class="form-control" required="required" oninput="checkPasswordMatch(this)"/>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Change Password" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <div th:replace="navigation :: footer_menu"></div>
</div>
<script type="text/javascript">
    function checkPasswordMatch(confirmPassword){
        if (confirmPassword.value != $("#password").val()){
            confirmPassword.setCustomValidity("Password do not match!")
        } else {
            confirmPassword.setCustomValidity("")
        }
    }
</script>
</body>
</html>